h2,h3,h4{
    margin: 0;
}

.cfwrap{
    box-sizing: border-box;
    padding: 30px;
    width: 700px;
    border-radius: 20px;
    background-color: aliceblue;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-flow: row wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.cfwrap img{
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

.cafeinfo{
    width: calc(100% - 230px);
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.title{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}
.deletebtn{

  padding: 5px 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgb(255, 104, 104);
}
.deletebtn:hover{
  background-color: rgb(255, 64, 64);
}


.percent>p>span{
    font-weight: bold;
}

.pctbg{
    overflow: hidden;
    margin: 10px;
    width: 100%;
    height: 15px;
    border-radius: 50px;
    background-color: rgb(221, 221, 221);
}
.pctfill{
    height: 100%;
    background-color: rgb(20, 153, 20);
}
.percentbox span{
    float: right;
    font-size: 15px;
}


.texts{
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.textsbox , .editbox , .editbox textarea{
    display: flex;
    flex-flow: column;
    gap: 15px;
    align-items: center;
    width: 100%;
}
.editbox textarea{
    padding:5px 20px;
    height: 45px;
    box-sizing: border-box;
}
.textsp{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: antiquewhite;
}

.texts button{
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgb(255, 104, 104);
}
.texts button:hover{
  background-color: rgb(255, 64, 64);
}
